
<div class="container-resumo">

        <div class="div-resumo">

            <div class="div-func-container">                
                <div class="div-info">
                    <div >
                        <img [src]="getFoto()" class="picture-card-func">
                    </div>
                    <div >
                        <div class="div-texto">
                            <span style="font-weight: bold;">ALEXXSANDER ALMEIDA DOS SANTOS</span>
                            <span>ANALISTA DE SISTEMAS</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="div-empresa-container" >                
                <div class="div-empresa">
                    <div class="div-texto me-1">
                        <span style="font-weight: bold;">Empresa</span>
                        <span>FINANCEIRO24HORAS.COM TECNOLOGIA DA INFORMACAO LTDA</span>
                    </div>
                    <div class="div-texto">
                        <span style="font-weight: bold;">Departamento</span>
                        <span>DESENVOLVIMENTO</span>
                    </div>
                </div>
            </div>

            <div class="div-superior-container">                
                <div>
                    <div class="text-center" style="font-weight: bold;">Superior</div>
                    <div class="div-info">
                        <div>
                            <img [src]="getFotoSuperior()" class="picture-card-func">
                        </div>
                        <div >
                            <div class="div-texto">
                                <span style="font-weight: bold;">ANDRE BONETTI DE OLIVEIRA</span>
                                <span>SOCIO GESTOR DESENVOLVIMENTO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</div>