<div class="div-resumo">
    <div fxFlex="100%" fxLayout="column" fxLayoutGap="20px">
        <div fxFlex="100%" fxLayoutAlign="center center">
            <img [src]="getFoto()" class="picture-card-func">
        </div>
        <div fxFlex="100%" fxLayoutAlign="start center">
            <div class="col-lg-12" fxLayout="column" style="text-align: center;">
                <span style="font-weight: bold;">{{ card_equipe.nome }}</span>
                <span>{{ card_equipe.cargo }}</span>
                <span style="font-weight: bold;">{{ card_equipe.departamento }}</span>
            </div>
        </div>
    </div>
</div>